### Assigment 
#### AIS031

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

### first data set:Hotel reviews

In [1]:
import pandas as pd
df=pd.read_excel(r'C:\Users\HP\Desktop\Book1.xlsx')
print(df)

       Hotel   Tariff  Rating  Customer Review Recommended
0      Octave     800       3              4.2          No
1   Inn Field     700       2              4.5         Yes
2     Harmond     865       4              5.0          No
3     Raycrop     699       3              3.9          No
4       Royal     533       3              3.2         Yes
5       Eyefi     899       3              5.0          No
6     Talwart     789       4              3.3         Yes
7     Hoplite     566       4              3.4         Yes
8         Tag     788       5              2.5         Yes
9     Yayfire     458       5              3.5          No
10   Wallwart     889       4              3.6          No
11     Turcot     789       4              4.7         Yes
12        Hat     899       5              3.8         Yes
13    Hogwart     900       5              4.2          No

#### Independent variables : Hotel name,tariff,ratings,customer review<br>Dependent Variable : Recommendation

In [5]:
x=df.iloc[:,0:4]
y=df.iloc[:,4:5]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=100)
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

x_train: (11, 4)
x_test: (3, 4)
y_train: (11, 1)
y_test: (3, 1)

In [19]:
#input=x_train
#output=y_train
#prediction=x_test
#comparision=y_test

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

### second dataset : Haidrabad restuarant reviews

In [9]:
import pandas as pd
df=pd.read_csv(r'C:\Users\HP\Desktop\book2.csv')
df

,Name,Unnamed: 1,Cost,Collections,Cuisines,Timings
0,Beyond Flavours,NaN,800,"Food Hygiene Rated Restaurants in Hyderabad, C...","Chinese, Continental, Kebab, European, South I...","12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)"
1,Paradise,NaN,800,Hyderabad's Hottest,"Biryani, North Indian, Chinese",11 AM to 11 PM
2,Flechazo,NaN,"1,300","Great Buffets, Hyderabad's Hottest","Asian, Mediterranean, North Indian, Desserts","11:30 AM to 4:30 PM, 6:30 PM to 11 PM"
3,Shah Ghouse Hotel & Restaurant,NaN,800,Late Night Restaurants,"Biryani, North Indian, Chinese, Seafood, Bever...",12 Noon to 2 AM
4,Over The Moon Brew Company,NaN,"1,200","Best Bars & Pubs, Food Hygiene Rated Restauran...","Asian, Continental, North Indian, Chinese, Med...","12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12no..."
...,...,...,...,...,...,...
100,IndiBlaze,NaN,600,NaN,"Fast Food, Salad",11 AM to 11 PM
101,Sweet Basket,NaN,200,NaN,"Bakery, Mithai","10 AM to 10 PM (Mon-Thu), 8 AM to 10:30 PM (Fr..."
102,Angaara Counts 3,NaN,500,NaN,"North Indian, Biryani, Chinese",12 Noon to 11 PM
103,Wich Please,NaN,250,NaN,Fast Food,8am to 12:30AM (Mon-Sun)
104,Republic Of Noodles - Lemon Tree Hotel,NaN,"1,700",Pan-Asian Delicacies,"Thai, Asian, Chinese, Malaysian","11:30 AM to 3 PM, 7 PM to 12 Midnight"

#### Independent variables : Name of restuarant,cost,cuisines they are providing,Timings of restaurant<br>Dependent variable      : Collections

In [17]:
x=df.iloc[:,[0,2,4,5]]
y=df.iloc[:,3]

0      Food Hygiene Rated Restaurants in Hyderabad, C...
1                                    Hyderabad's Hottest
2                     Great Buffets, Hyderabad's Hottest
3                                 Late Night Restaurants
4      Best Bars & Pubs, Food Hygiene Rated Restauran...
                             ...
100                                                  NaN
101                                                  NaN
102                                                  NaN
103                                                  NaN
104                                 Pan-Asian Delicacies
Name: Collections, Length: 105, dtype: object

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.65,test_size=0.35,random_state=100)
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

x_train: (68, 4)
x_test: (37, 4)
y_train: (68,)
y_test: (37,)

**-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------**

### Third dataset : Insurance prices

In [9]:
import pandas as pd
df=pd.read_excel(r'C:\Users\HP\Desktop\book3.xlsx')
df

      age     sex  children smoker     region      charges
0      19  female         0    yes  southwest  16884.92400
1      18    male         1     no  southeast   1725.55230
2      28    male         3     no  southeast   4449.46200
3      33    male         0     no  northwest  21984.47061
4      32    male         0     no  northwest   3866.85520
...   ...     ...       ...    ...        ...          ...
1333   50    male         3     no  northwest  10600.54830
1334   18  female         0     no  northeast   2205.98080
1335   18  female         0     no  southeast   1629.83350
1336   21  female         0     no  southwest   2007.94500
1337   61  female         0    yes  northwest  29141.36030

[1338 rows x 6 columns]

##### Independent Variables = age,sex,no.of childrens,smoker or not,region<br>Dependent variable = charges

In [14]:
x=df.iloc[:,0:5]
y=df.iloc[:,5:6]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,test_size=0.20,random_state=100)
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

x_train: (1070, 5)
x_test: (268, 5)
y_train: (1070, 1)
y_test: (268, 1)