#### Yugandhara Premraj Patil
#### Id : AIS031

#### Task 11 :  Naive Bayes Classification on Iris Dataset

In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
import pandas as pd
iris=load_iris()
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df['species']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

#### Separating dependent and independent variables from data

In [32]:
x=df.iloc[:,0:4]
y=df.iloc[:,4:5]
y=np.ravel(y)

#### Splitting data into training and testing set

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=4)

#### Generating Model

In [35]:
from sklearn.naive_bayes import GaussianNB
sk=GaussianNB()
sk.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [37]:
#Predict the response for test dataset
y_pred=sk.predict(x_test)
y_pred

array([2, 0, 2, 2, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 2, 0, 1, 0, 0, 2, 0, 2,
       1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 1, 2, 2, 1, 1, 0, 2, 0, 1, 0,
       2])

In [40]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[21,  0,  0],
       [ 0, 10,  0],
       [ 0,  1, 13]], dtype=int64)

#### Checking accuracy

In [41]:
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.9777777777777777

### Naive Bayes Classification on Titanic Dataset

In [121]:
import pandas as pd
tr=pd.read_excel(r'C:\Users\HP\Desktop\datasets\classification\train.xlsx')
tr
tr.drop('Name',axis=1,inplace=True)
tr.drop('Embarked',axis=1,inplace=True)
tr.drop('Ticket',axis=1,inplace=True)
tr.drop('Cabin',axis=1,inplace=True)
print(tr.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [122]:
tr['Sex'].fillna('Male',inplace=True)
tr.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [123]:
from sklearn import preprocessing
l=['Sex']
for i in l:
    label_encoder=preprocessing.LabelEncoder()
    label_encoder.fit(tr[i])
    print(i,label_encoder.classes_)
    tr[i]=label_encoder.transform(tr[i])
tr.head()

Sex ['female' 'male']

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [124]:
print(np.mean(tr['Age']))
print(np.mean(tr['Parch']))
print(np.mean(tr['Fare']))
print(np.mean(tr['Pclass']))

29.69911764705882
0.38159371492704824
32.2042079685746
2.308641975308642

In [125]:
tr=tr.fillna(np.mean(tr))

In [137]:
#### Splitting Data
x1=tr[['PassengerId','Pclass','Sex','Age','SibSp','Parch']]
y1=tr[['Survived']]

In [138]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x1,y1)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

#### Importing Testing Dataset

In [139]:
import pandas as pd
test=pd.read_excel(r'C:\Users\HP\Desktop\datasets\classification\test.xlsx')
test
test.drop('Name',axis=1,inplace=True)
test.drop('Embarked',axis=1,inplace=True)
test.drop('Ticket',axis=1,inplace=True)
test.drop('Cabin',axis=1,inplace=True)
print(test.head())

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [140]:
test['Sex'].fillna('Male',inplace=True)
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare
0          892       3    male  34.5      0      0   7.8292
1          893       3  female  47.0      1      0   7.0000
2          894       2    male  62.0      0      0   9.6875
3          895       3    male  27.0      0      0   8.6625
4          896       3  female  22.0      1      1  12.2875

In [141]:
from sklearn import preprocessing
l=['Sex']
for i in l:
    label_encoder=preprocessing.LabelEncoder()
    label_encoder.fit(test[i])
    print(i,label_encoder.classes_)
    test[i]=label_encoder.transform(test[i])
test.head()

Sex ['female' 'male']

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0          892       3    1  34.5      0      0   7.8292
1          893       3    0  47.0      1      0   7.0000
2          894       2    1  62.0      0      0   9.6875
3          895       3    1  27.0      0      0   8.6625
4          896       3    0  22.0      1      1  12.2875

In [142]:
print(np.mean(test['Age']))
print(np.mean(test['Parch']))
print(np.mean(test['Fare']))
print(np.mean(test['Pclass']))
print(np.mean(test['PassengerId']))

30.272590361445783
0.3923444976076555
35.6271884892086
2.2655502392344498
1100.5

In [143]:
test=test.fillna(np.mean(test))
x_test=test[['PassengerId','Pclass','Sex','Age','SibSp','Parch']]

#### Generating and submitiing file

In [144]:
y_pred1=model.predict(x_test)

In [147]:
test=pd.read_excel(r'C:\Users\HP\Desktop\datasets\classification\test.xlsx')
PassengerId=pd.DataFrame(test['PassengerId'])
Survived=pd.DataFrame(y_pred1,columns=['Survived'])

In [150]:
submission=pd.concat([PassengerId,Survived],axis=1)
submission.to_csv('C:\\Users\\HP\\Desktop\\datasets\\classification\\submission')