#### Yugandhara Premraj Patil
#### ID AIS031

### Topic : KNN Regression

In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel(r"C:\Users\HP\Desktop\house_price_prediction.xlsx")
df

,price,bedrooms,sqft_living,sqft_lot,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.130000e+05,3,1340,7912,1340,0,1955,2005
1,2.384000e+06,5,3650,9050,3370,280,1921,0
2,3.420000e+05,3,1930,11947,1930,0,1966,0
3,4.200000e+05,3,2000,8030,1000,1000,1963,0
4,5.500000e+05,4,1940,10500,1140,800,1976,1992
...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3,1510,6360,1510,0,1954,1979
4596,5.343333e+05,3,1460,7573,1460,0,1983,2009
4597,4.169042e+05,3,3010,7014,3010,0,2009,0
4598,2.034000e+05,4,2090,6630,1070,1020,1974,0
4599,2.206000e+05,3,1490,8102,1490,0,1990,0

##### Dependent and independent variables

In [3]:
x=df.iloc[:,1:8]
y=df.iloc[:,0:1]

##### Splitting and fitting of Data :

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
#Splitting data into training and testing dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=4)

#Fitting
knn=KNeighborsRegressor(n_neighbors=5)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)

##### Mean Square Error

In [13]:
from sklearn.metrics import mean_squared_error
import math
t=[]
for i in range(1,50):
    knn=KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    MSE=np.sqrt(mean_squared_error(y_test,y_pred))
    t.append(float(MSE))
    print("MSE when k is "+str(i)+"=",MSE)

MSE when k is 1= 792206.8073939171
MSE when k is 2= 471674.5512083145
MSE when k is 3= 384294.4823268074
MSE when k is 4= 351931.97718664876
MSE when k is 5= 342064.57618658413
MSE when k is 6= 352556.8200247517
MSE when k is 7= 342249.7191472705
MSE when k is 8= 330954.47650758957
MSE when k is 9= 343166.7354260696
MSE when k is 10= 335413.31733161956
MSE when k is 11= 343871.1875891719
MSE when k is 12= 339410.2115526491
MSE when k is 13= 335536.8049111277
MSE when k is 14= 337186.145937343
MSE when k is 15= 332228.24611299526
MSE when k is 16= 334238.669485862
MSE when k is 17= 335074.1907330292
MSE when k is 18= 332735.7684698273
MSE when k is 19= 332913.514778235
MSE when k is 20= 332523.11190586106
MSE when k is 21= 332626.8144251755
MSE when k is 22= 330562.79838722915
MSE when k is 23= 328604.5887844068
MSE when k is 24= 326830.5193140531
MSE when k is 25= 325362.5295374369
MSE when k is 26= 323656.59122769523
MSE when k is 27= 322917.3720634972
MSE when k is 28= 324214.66121583385
MSE when k is 29= 322869.0023500247
MSE when k is 30= 321801.5836638044
MSE when k is 31= 321242.4703714771
MSE when k is 32= 320338.05027957057
MSE when k is 33= 322299.09920674615
MSE when k is 34= 321945.3073598721
MSE when k is 35= 321315.4082322459
MSE when k is 36= 321015.948909169
MSE when k is 37= 320483.75283677346
MSE when k is 38= 320501.83118858753
MSE when k is 39= 320222.62941661343
MSE when k is 40= 319838.0557952201
MSE when k is 41= 320855.34298425994
MSE when k is 42= 321893.36681811116
MSE when k is 43= 322044.6199421518
MSE when k is 44= 321954.3192870919
MSE when k is 45= 321559.4809366372
MSE when k is 46= 321684.5168917933
MSE when k is 47= 321614.8665430281
MSE when k is 48= 322255.15294989204
MSE when k is 49= 322390.5142120056

##### Root Mean Squared Error

In [14]:
from sklearn.metrics import mean_squared_error
import math

for i in range(1,50):
    knn=KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    MSE=np.sqrt(mean_squared_error(y_test,y_pred))
    RMSE=math.sqrt(MSE)
    print("RMSE when k is "+str(i)+"=",RMSE)

RMSE when k is 1= 890.0600021312704
RMSE when k is 2= 686.785666134868
RMSE when k is 3= 619.914899261832
RMSE when k is 4= 593.2385499836038
RMSE when k is 5= 584.862869557116
RMSE when k is 6= 593.7649535167528
RMSE when k is 7= 585.0211270948002
RMSE when k is 8= 575.2864299699669
RMSE when k is 9= 585.8043491013613
RMSE when k is 10= 579.1487868688146
RMSE when k is 11= 586.4053099940108
RMSE when k is 12= 582.5892305498353
RMSE when k is 13= 579.2553883315439
RMSE when k is 14= 580.6773165341858
RMSE when k is 15= 576.3924410616393
RMSE when k is 16= 578.1337816508062
RMSE when k is 17= 578.8559326231607
RMSE when k is 18= 576.8325306965855
RMSE when k is 19= 576.9865811075982
RMSE when k is 20= 576.6481699492864
RMSE when k is 21= 576.7380813030951
RMSE when k is 22= 574.9459090968725
RMSE when k is 23= 573.2404284280783
RMSE when k is 24= 571.690929886117
RMSE when k is 25= 570.4055833680425
RMSE when k is 26= 568.9082449988708
RMSE when k is 27= 568.2581913738659
RMSE when k is 28= 569.3985082662527
RMSE when k is 29= 568.2156301528714
RMSE when k is 30= 567.2755799995311
RMSE when k is 31= 566.7825600452761
RMSE when k is 32= 565.9841431343908
RMSE when k is 33= 567.7139237386609
RMSE when k is 34= 567.4022447610444
RMSE when k is 35= 566.8469001699187
RMSE when k is 36= 566.5826937960328
RMSE when k is 37= 566.1128446138398
RMSE when k is 38= 566.1288114807331
RMSE when k is 39= 565.8821691983353
RMSE when k is 40= 565.5422670280445
RMSE when k is 41= 566.4409439511412
RMSE when k is 42= 567.3564724387228
RMSE when k is 43= 567.4897531604882
RMSE when k is 44= 567.4101860974051
RMSE when k is 45= 567.0621490953503
RMSE when k is 46= 567.1723872790294
RMSE when k is 47= 567.110982562521
RMSE when k is 48= 567.6752178401766
RMSE when k is 49= 567.7944295359066